################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pipes-sample/.vscode
/pipes-sample/package-lock.json
